# Database
DATABASE_URL="postgresql://user:password@localhost:5432/sales_report?schema=public"

# JWT
JWT_SECRET="your-jwt-secret-key-min-32-chars"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-key-min-32-chars"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
